<!DOCTYPE html>

<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="refresh" content="30">
      <meta name="description" content="Telo Baptism Page">
      <meta name="author" content="Paryssa Khazaie">
      <title>Accomodations</title>
  </head>
  <body>
    <h1>Accomodations</h1>
    <%= link_to "Home", root_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Accomodations", accomodations_path %>
    <%= link_to "Activities", activities_path %>
    <%= link_to "Our contact info", contact_path %>
  </body>
</html>
