<!DOCTYPE html>

<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="refresh" content="30">
      <meta name="description" content="Telo Baptism Page">
      <meta name="author" content="Paryssa Khazaie">
      <title>Home Page</title>
  </head>
  <body>
    <p class="navbar-text float-right">
      <% if guest_signed_in? %>
        Logged in as <strong><%= current_guest.email %></strong>.
        <%= link_to 'Edit profile', edit_guest_registration_path, :class => 'navbar-link' %> |
        <%= button_to "Log out", destroy_guest_session_path, method: :delete, data: { turbo: "false" }, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_guest_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_guest_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>
    <header>
      <h1>Home</h1>
      <%= link_to "Sotelo's Baptism", root_path %>
      <%= link_to "About", about_path %>
      <%= link_to "Accomodations", accomodations_path %>
      <%= link_to "Activities", activities_path %>
      <%= link_to "Our contact info", contact_path %>
    </header>
  </body>
</html>
