<h1>Home</h1>
<p>Now is <%= Time.now %></p>

<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>
<%= link_to "Accomodations", accomodations_path %>
<%= link_to "Activities", activities_path %>
<%= link_to "Our contact info", contact_path %>
